body{
	background-color:#FFFFFF;
	font-family: 'Open Sans', sans-serif, Trebuchet, Verdana;
}

/*#bg1{
	position: relative;
	width: 100%;
}*/

#mainWrapper {
	width: 960px;
	margin: 0px auto;
}

#menu {
	width:100%;
	height: 87px;
	background: #ffffff;
}

#menu .text_menu {
	float: right;
	color: #000000;
	margin: 33px 20px 0 0;
	text-transform: uppercase;
	font-size: 14px;
}

#logo{
	background: url('../img/logo_mini.png');
	width: 220px;
	height: 87px;
	float: left;
}

#mainPage {
	width: 100%;
	height: 456px;
	background: url('../img/tlo5.jpg');
}


#motto {
	float: clear;
	display: block;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 150px;
	letter-spacing: 1px;
}

#seeMore {
	display: block;
	text-align: center;
	color: #ffffff;
	border: 1px solid;
	width: 250px;
	margin: 30px auto;
	padding: 10px;
}


#scroll{
	float:clear;
	display:block;
	text-align:center;
	font-size:15px;
	color: #ffffff;
	margin-top: 150px;
	letter-spacing: 2px
}

#oFirmie{
	background-color:#FFFFFF;   /*#eb1818*/
	width: 960px;
	margin: 0px auto;
	height: 650px;
}

#kolumny{
	column-count: 2;
}

#gallery{
	background-color:#FFFFFF;  /*30a4ee*/
	width: 960px;
	margin: 0px auto;
	height: 600px;
}

#photoContainer {
	width: 780px;
	height: auto;
	margin-top: 30px !important;
	margin: 0px auto;
}

.photo {
	width: 195px;
	height: 170px;
	float: left;
}

#galleryMore{
	width: 195px;
	height: 170px;
	float: left;
	font-size: 14px;
	text-align: center;
	color: #105176;
}

#galleryMore span {
	display: block;
	margin-top: 75px;
}

#contact{
	background: url("../img/tloKontakt.jpg");
	width: 960px;
	margin: 0px auto;
	height: 600px;
}

#contact label{
	display: block;
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 12px;
	font: bold;
	color: #FFFFFF;
}

#contact textarea{
	width: 360px;
	height: 222px;
	font: bold;
	border: 1px solid #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
}

#contactLeft{
	margin-top: 3%;
	margin-left: 90px;
	width: 380px;
	float: left;
}

#contactRight{
	margin-top: 3%;
	margin-left: 30px;
	margin-right: 65px;
	width: 380px;
	float: left;
}

#contactRight textarea {
	padding: 15px 15px;
}

.input{
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif, Trebuchet, Verdana;
	font: bold;
	font-size: 12px;
	width: 360px;
	height: 25px;
	background-color: transparent;
	border: 1px solid #FFFFFF;
	padding-left: 20px;
	}

#submit input{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	font: bold;
	margin-left: 405px;
	margin-top: 5%;
	
	text-align:center;
	width: 150px;
	height: 30px;
}

#stopka{
	background-color:#000000;
	width: 960px;
	margin: 0px auto;
	height: 82px;
}

.title{
	color:#105176 ;
	font-size:36px;
	text-align: center;
	padding-top: 80px;
}

.text{
	color:#545454;
	font-size:17px;
	text-align: justify;
	padding: 40px 90px 15px 90px;
}

.text1{
	color:#545454;
	font-size:17px;
	text-align: center;
	padding: 40px 90px 15px 90px;
}
.conText{
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	padding-top: 40px;
}

.conText2{
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
}

.daneAdresowe{
	margin-top: 40px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	width: 320px;
	float: left;
}


#galleryWrapper {
	width: 100%;
	height: 100%;
	background: #ffffff;
	position: fixed;
	top: 0;
	display: none;
}